<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel='stylesheet' type='text/css' href='css'>
  </head>
  
  <body>
    <div id="container">
      <div id="banner">
        <div id="bannertitle">Touching CSS Template</div>
      </div>
      <div>
        <div>
          <div id="left">
            <div class="verticalmenu">
              <ul>
                <li><a href='login'>Login</a></li>
                <li><a href='upload'>Upload an Image</a></li>
                <li><a href='image'>Most Recent Image</a></li>
                <li><a href='search'>Search Images</a></li>
                <li><a href='thumb'>Thumbnail Gallery</a></li>
                <li><a href='gallery'>Image List</a></li>
                <li><a href='logout'>Logout</a></li>
              </ul>
            </div>
          </div>

          <div id="content">

{% block content %}
{% endblock %}

          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
